<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeus.skeleton" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application android:allowBackup="true">
        <activity android:name=".app.BaseActivity"/>
        <meta-data android:value="56264c0267e58e8ad5003311" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="tencent" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
