<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeus.ui_case" >

    <application
        android:allowBackup="true">
        <activity android:name=".activity.DetailActivity"/>
        <activity android:name=".activity.MusicCardActivity"/>
        <activity android:name=".activity.BookLibraryActivity"/>
        <activity android:name=".activity.FilmRoomActivity"/>
        <activity android:name=".activity.BookCaseMenuActivity"/>
    </application>

</manifest>
